@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Source+Code+Pro:ital@1&display=swap');

body {
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  background: #fff;
  align-items: center;
  position: relative;
  top: 150px;
  height: 100vh;
}

#todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
  width: 70vw;
  padding: 50px 25px;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}

#todo-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

h3 {
  font-size: 40px;
}

#todo-lists {
  list-style-type: none;
  margin-top: 40px;
  font-family: 'Source Code Pro', monospace;
}

.todo-list-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  border-bottom: 1px solid silver;
}

.todo-list-container i {
  position: absolute;
  right: 0;
  top: 3px;
  font-size: 50px;
}

input[type='checkbox'] {
  margin: 20px;
}

input::placeholder {
  font-size: 15px;
  font-style: italic;
}

.inputs-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.inputs-holder .add {
  margin-top: 2%;
  font-size: 28px;
  font-weight: bold;
  opacity: 0.5;
}

.input-form {
  margin-left: 10px;
  width: 800px;
  border: none;
  margin-top: 5vh;
}

input:focus {
  border: 1px solid #fff;
  height: 50px;
  width: 65vw;
}

button {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 18px;
  width: 50%;
  height: 70px;
  margin-left: 20vw;
  margin-top: 5vh;
  border: none;
  color: #000;
}

button:hover {
  border: 1px solid rgb(65, 177, 71);
  transform: scale(1.2);
}

.alt-fa {
  display: none;
}

.trash-active {
  display: block;
}

.checked-holder {
  background: rgb(255, 234, 222);
}

.line-through {
  text-decoration: line-through;
}

.dots-remove {
  display: none;
}
